doctype html  
html(lang='en')  
  head
    meta(charset='en')
    //- link(rel="stylesheet", href='./../css/index.scss')
  body(style="visibility: hidden")
    main
      section#intro
        div.container-header
      section#map

      section#outro 
        include ./title.svg
