doctype html  
html(lang='en')  
  head
    meta(charset='en')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    //- link(rel="stylesheet", href='./../css/index.scss')
  body(style="visibility: hidden")
    main
      section#intro
        div.container-header
      section#map
      section#outro 
        include ./title-01.svg
        div.container-header2 
